/*
@File: Atorn Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Top Heder CSS
** - Navbar CSS
** - Search Overlay CSS
** - Hero Slider CSS
** - Law Card CSS
** - About Us CSS
** - Service CSS
** - Our Service CSS
** - Choose CSS
** - Fun Facts CSS
** - Case Study CSS
** - Right Way CSS
** - blog CSS
** - Testimonials CSS
** - Attorneey CSS
** - Partner CSS
** - Footer CSS
** - Preloader CSS
** - Go Top CSS
** - Atorn Banner CSS
** - Page banner CSS
** - About Video CSS
** - Sign In CSS
** - Sign Up CSS
** - Privacy Policy CSS
** - Coming Soon CSS
** - Error CSS
** - Faq CSS
** - Gallery CSS

*******************************************
/*

/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #6c6c6c;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d2d2d;
  font-weight: 600;
}

a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

p {
  margin-bottom: 10px;
  line-height: 1.8;
  color: #6c6c6c;
}

p:last-child {
  margin-bottom: 0;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table .d-table-cell {
  vertical-align: middle;
}

.default-btn-one {
  background-color: #c8242f;
  color: #ffffff;
  padding: 13px 25px;
  display: inline-block;
  border-radius: 5px;
}

.default-btn-one:hover {
  background-color: #0f3041;
  color: #ffffff;
}

.default-btn-two {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  padding: 12px 25px;
  border-radius: 5px;
}

.default-btn-two:hover {
  background-color: #0f3041;
  border: 1px solid #0f3041;
  color: #ffffff;
}

.section-title {
  max-width: 700px;
  margin: 0 auto 60px;
}

.section-title span {
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}

.section-title span::before {
  content: '';
  position: absolute;
  background-color: #c8242f;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-title h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.section-title h2 span {
  color: #c8242f;
  font-size: 45px;
  padding: 0;
  margin: 0;
}

.section-title h2 span::before {
  display: none;
}

.la-search {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.gallery-area .section-title h2 {
  margin-top: -9px;
}

/*================================================
Top Heder
=================================================*/
.header-area {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1041;
  width: 100%;
}

.top-header {
  background: #ffffff;
  border-bottom: 1px solid #cfd6d9;
}

.top-header .left-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-header .left-info li {
  display: inline-block;
  font-size: 14px;
  margin-right: 30px;
}

.top-header .left-info li:last-child {
  margin-right: 0;
}

.top-header .left-info li a {
  color: #2d2d2d;
}

.top-header .left-info li a i {
  margin-right: 5px;
  font-size: 20px;
  color: #c8242f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  top: 2px;
}

.top-header .left-info li a:hover {
  color: #c8242f;
}

.top-header .left-info li a:hover i {
  color: #2d2d2d;
}

.top-header .right-info {
  list-style-type: none;
  margin-bottom: 0;
  text-align: right;
  padding: 0;
}

.top-header .right-info li {
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
}

.top-header .right-info li.mr-20 {
  margin-right: 20px;
}

.top-header .right-info li:last-child {
  margin-right: 0;
}

.top-header .right-info li a {
  color: #2d2d2d;
}

.top-header .right-info li a i {
  color: #2d2d2d;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #323232;
  border-radius: 50%;
}

.top-header .right-info li a:hover {
  color: #c8242f;
}

.top-header .right-info li a:hover i {
  background: #c8242f;
  border: 1px solid #c8242f;
  color: #ffffff;
}

.top-header .right-info .heder-btn {
  background-color: #c8242f;
  padding: 15px 30px;
  margin-left: 25px;
}

.top-header .right-info .heder-btn a {
  color: #ffffff;
}

.top-header .right-info .heder-btn:hover {
  background-color: #0f3041;
}

.top-header .right-info .heder-btn:hover a {
  color: #ffffff;
}

/*================================================
Navbar Area
=================================================*/
.navbar-area {
  background-color: transparent;
  width: 100%;
  height: auto;
  z-index: 999;
}

.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-area.navbar-color-white.is-sticky {
  background-color: #2d2d2d !important;
}

.atorn-responsive-nav {
  display: none;
}

.atorn-nav {
  background: #ffffff;
  padding: 10px 0;
}

.atorn-nav .navbar {
  position: inherit;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.atorn-nav .navbar .navbar-brand {
  font-size: inherit;
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.atorn-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.atorn-nav .navbar .navbar-nav.ml-50 {
  margin-left: 50px;
}

.atorn-nav .navbar .navbar-nav .nav-item {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.atorn-nav .navbar .navbar-nav .nav-item a {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.atorn-nav .navbar .navbar-nav .nav-item a i {
  font-size: 15px;
  line-height: 0;
  position: relative;
  top: 1px;
}

.atorn-nav .navbar .navbar-nav .nav-item a:hover, .atorn-nav .navbar .navbar-nav .nav-item a:focus, .atorn-nav .navbar .navbar-nav .nav-item a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.atorn-nav .navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}

.atorn-nav .navbar .navbar-nav .nav-item:hover a, .atorn-nav .navbar .navbar-nav .nav-item.active a {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  border: none;
  top: 65px;
  left: 0;
  z-index: 99;
  opacity: 0;
  width: 200px;
  display: block;
  border-radius: 0;
  padding: 10px 0;
  margin-top: 15px;
  position: absolute;
  visibility: hidden;
  background: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  margin: 0;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  padding: 6px 20px;
  position: relative;
  display: block;
  color: #2d2d2d;
  font-size: 14px;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
  margin: 0;
  position: absolute;
  top: 50%;
  font-size: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 100%;
  margin-top: 15px;
  visibility: hidden;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #2d2d2d;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 250px;
  visibility: hidden;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #2d2d2d;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 100%;
  visibility: hidden;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #2d2d2d;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 250px;
  visibility: hidden;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #2d2d2d;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 100%;
  visibility: hidden;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #2d2d2d;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  top: 0;
  opacity: 0;
  left: 250px;
  visibility: hidden;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #2d2d2d;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #c8242f;
}

.atorn-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.atorn-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.atorn-nav .navbar .others-option {
  background-color: #7d7d7d;
  border-radius: 30px;
  padding: 10px 18px 3px;
  margin-left: auto;
}

.atorn-nav .navbar .others-option .option-item {
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
}

.atorn-nav .navbar .others-option .option-item::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -4px;
  background-color: #fa6a45;
  height: 25px;
  width: 1.5px;
}

.atorn-nav .navbar .others-option .option-item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.atorn-nav .navbar .others-option .option-item:first-child::before {
  display: none;
}

.atorn-nav .navbar .others-option .side-menu-btn i {
  cursor: pointer;
  font-size: 35px;
  position: relative;
  top: 4px;
  line-height: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}

.atorn-nav .navbar .others-option .side-menu-btn i:hover {
  color: #ffffff;
}

.atorn-nav .navbar .others-option .search-box i {
  cursor: pointer;
  font-size: 22px;
  color: #ffffff;
  position: relative;
  top: -2px;
  line-height: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.atorn-nav .navbar .others-option .search-box i:hover {
  color: #ffffff;
}

.atorn-nav .navbar .others-option .cart-btn a {
  display: inline-block;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  line-height: 1;
  padding-right: 10px;
}

.atorn-nav .navbar .others-option .cart-btn a span {
  position: absolute;
  right: 0;
  top: -3px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  background-color: #2d2d2d;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (max-width: 991px) {
  .navbar-area {
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-area.is-sticky {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .atorn-responsive-nav {
    display: block;
  }
  .atorn-responsive-nav .atorn-responsive-menu {
    position: relative;
  }
  .atorn-responsive-nav .atorn-responsive-menu.mean-container .mean-nav {
    margin-top: 50px;
  }
  .atorn-responsive-nav .atorn-responsive-menu.mean-container .mean-nav ul {
    font-size: 15px;
  }
  .atorn-responsive-nav .atorn-responsive-menu.mean-container .mean-nav ul li a.active {
    color: #c8242f;
  }
  .atorn-responsive-nav .atorn-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 13px;
  }
  .atorn-responsive-nav .atorn-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    height: 357px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
  }
  .atorn-responsive-nav .mean-container a.meanmenu-reveal {
    color: #c8242f;
  }
  .atorn-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #c8242f;
  }
  .atorn-responsive-nav .others-option {
    display: none !important;
    background-color: #c8242f;
    border-radius: 30px;
    padding: 10px 18px 3px;
  }
  .atorn-responsive-nav .others-option .option-item {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
  }
  .atorn-responsive-nav .others-option .option-item::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -4px;
    background-color: #fa6a45;
    height: 25px;
    width: 1.5px;
  }
  .atorn-responsive-nav .others-option .option-item:first-child {
    margin-left: 0;
    padding-left: 0;
  }
  .atorn-responsive-nav .others-option .option-item:first-child::before {
    display: none;
  }
  .atorn-responsive-nav .others-option .side-menu-btn i {
    cursor: pointer;
    font-size: 35px;
    position: relative;
    top: 4px;
    line-height: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #ffffff;
  }
  .atorn-responsive-nav .others-option .side-menu-btn i:hover {
    color: #ffffff;
  }
  .atorn-responsive-nav .others-option .search-box i {
    cursor: pointer;
    font-size: 22px;
    color: #ffffff;
    position: relative;
    top: -2px;
    line-height: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .atorn-responsive-nav .others-option .search-box i:hover {
    color: #ffffff;
  }
  .atorn-responsive-nav .others-option .cart-btn a {
    display: inline-block;
    position: relative;
    font-size: 25px;
    color: #ffffff;
    line-height: 1;
    padding-right: 10px;
  }
  .atorn-responsive-nav .others-option .cart-btn a span {
    position: absolute;
    right: 0;
    top: -3px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: #2d2d2d;
    font-size: 14px;
    font-weight: 600;
  }
  .atorn-responsive-nav .logo {
    position: relative;
    width: 60%;
    z-index: 995;
  }
  .atorn-nav {
    display: none;
  }
  .navbar-color-white .atorn-responsive-nav .mean-container a.meanmenu-reveal {
    color: #ffffff;
  }
  .navbar-color-white .atorn-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #ffffff;
  }
  .navbar-color-white .others-option-for-responsive .dot-menu .inner .circle {
    background-color: #ffffff;
  }
  .others-option-for-responsive {
    display: block;
  }
  .mean-container .mean-nav ul li a {
    font-size: 14px;
  }
}

/*================================================
Search Overlay CSS
=================================================*/
.search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.search-overlay .search-overlay-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.search-overlay .search-overlay-layer:nth-child(1) {
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.search-overlay .search-overlay-layer:nth-child(2) {
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

.search-overlay .search-overlay-layer:nth-child(3) {
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.9s ease-in-out 0.6s;
  transition: all 0.9s ease-in-out 0.6s;
}

.search-overlay .search-overlay-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: all 0.9s ease-in-out 1.5s;
  transition: all 0.9s ease-in-out 1.5s;
  opacity: 0;
  visibility: hidden;
}

.search-overlay .search-overlay-close .search-overlay-close-line {
  width: 100%;
  height: 3px;
  float: left;
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.search-overlay .search-overlay-close .search-overlay-close-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-overlay .search-overlay-close .search-overlay-close-line:nth-child(2) {
  margin-top: -7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-overlay .search-overlay-close:hover .search-overlay-close-line {
  background: #c8242f;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search-overlay .search-overlay-form {
  -webkit-transition: all 0.9s ease-in-out 1.4s;
  transition: all 0.9s ease-in-out 1.4s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 2;
  max-width: 500px;
  width: 100%;
  padding: 0 16px;
}

.search-overlay .search-overlay-form form {
  position: relative;
}

.search-overlay .search-overlay-form form input {
  outline: 0;
}

.search-overlay .search-overlay-form form .input-search {
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 30px;
  color: #2d2d2d;
  padding: 3px 0 0 25px;
}

.search-overlay .search-overlay-form form .input-search::-webkit-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: .5px;
  color: #2d2d2d;
}

.search-overlay .search-overlay-form form .input-search:-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: .5px;
  color: #2d2d2d;
}

.search-overlay .search-overlay-form form .input-search::-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: .5px;
  color: #2d2d2d;
}

.search-overlay .search-overlay-form form .input-search::placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: .5px;
  color: #2d2d2d;
}

.search-overlay .search-overlay-form form .input-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form .input-search:focus:-ms-input-placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form .input-search:focus::-ms-input-placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form .input-search:focus::placeholder {
  color: transparent;
}

.search-overlay .search-overlay-form form button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  color: #fff;
  height: 50px;
  border-radius: 50%;
  background-color: #c8242f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  font-size: 20px;
  line-height: 45px;
}

.search-overlay .search-overlay-form form button:hover {
  background-color: #2d2d2d;
  color: #ffffff;
}

.search-overlay.search-overlay-active.search-overlay {
  opacity: 1;
  visibility: visible;
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-layer {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-close {
  opacity: 1;
  visibility: visible;
}

.search-overlay.search-overlay-active.search-overlay .search-overlay-form {
  opacity: 1;
  visibility: visible;
}

/*================================================
Hero Slider Area
=================================================*/
.hero-slider .hero-slider-item {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.hero-slider .hero-slider-item::before {
  content: '';
  position: absolute;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0)), to(#0f3041));
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #0f3041);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.hero-slider .hero-slider-item .slider-content {
  padding-top: 300px;
  padding-bottom: 200px;
  max-width: 600px;
  position: relative;
}

.hero-slider .hero-slider-item .slider-content span {
  font-size: 15px;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 15px;
  color: #ffffff;
  position: relative;
}

.hero-slider .hero-slider-item .slider-content span::before {
  content: '';
  position: absolute;
  background-color: #c8242f;
  width: 85px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-slider .hero-slider-item .slider-content h1 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #ffffff;
  line-height: 1.3;
}

.hero-slider .hero-slider-item .slider-content p {
  color: #ffffff;
}

.hero-slider .hero-slider-item .slider-content .slider-btn {
  margin-top: 40px;
}

.hero-slider.owl-theme .owl-nav {
  margin: 0;
}

.hero-slider.owl-theme .owl-nav .owl-prev, .hero-slider.owl-theme .owl-nav .owl-next {
  position: absolute;
  left: 10px;
  top: 55%;
  background: #c8242f;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 0;
}

.hero-slider.owl-theme .owl-nav .owl-prev:hover, .hero-slider.owl-theme .owl-nav .owl-next:hover {
  background-color: #2d2d2d;
}

.hero-slider.owl-theme .owl-nav .owl-next {
  left: auto;
  right: 10px;
}

.hero-slider.owl-theme .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}

.hero-slider.owl-theme .owl-dots .owl-dot span {
  width: 130px;
  height: 2px;
  margin: 0 7px;
  color: #8f989c;
  border-radius: 0;
}

.hero-slider.owl-theme .owl-dots .owl-dot.active span {
  background: #c8242f;
}

.hero-slider.hero-slider-two {
  position: relative;
}

.hero-slider.hero-slider-two .hero-slider-item {
  position: relative;
}

.hero-slider.hero-slider-two .hero-slider-item .slider-content {
  max-width: none;
}

.hero-slider.hero-slider-two .hero-slider-item .slider-content .slider-image img {
  position: absolute;
  bottom: -200px;
  max-width: 475px;
}

.hero-slider.hero-slider-two.owl-theme .owl-dots {
  display: none;
}

/*================================================
Law Card Area
=================================================*/
.low-card {
  text-align: center;
  background-color: #f9f9f9;
  padding: 40px 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.low-card h3 {
  font-size: 22px;
  margin-bottom: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.low-card i {
  color: #c8242f;
  font-size: 50px;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.low-card p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.low-card:hover {
  background-color: #c8242f;
}

.low-card:hover h3 {
  color: #ffffff;
}

.low-card:hover i {
  color: #ffffff;
}

.low-card:hover p {
  color: #ffffff;
}

.bor-right {
  border-right: 1px solid #e5e5e5;
}

.bor-right:last-child {
  border: none;
}

.low-card-area-two .low-card-contant {
  position: relative;
  top: -100px;
  z-index: 1;
}

.low-card-two {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 20px #eeeeee;
          box-shadow: 0px 20px 20px #eeeeee;
  padding: 45px 25px;
  border-radius: 5px;
  position: relative;
}

.low-card-two i {
  background-color: #c8242f;
  color: #ffffff;
  width: 60px;
  height: 60px;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.low-card-two h3 {
  font-size: 22px;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.low-card-two p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.low-card-two .low-shape {
  position: absolute;
  top: 45px;
  right: 25px;
}

.low-card-two:hover {
  background-color: #c8242f;
}

.low-card-two:hover i {
  background-color: #0f3041;
}

.low-card-two:hover h3 {
  color: #ffffff;
}

.low-card-two:hover p {
  color: #efbec1;
}

/*================================================
About Us Area
=================================================*/
.about-area .about-image {
  margin-bottom: 35px;
  position: relative;
}

.about-area .about-image img {
  position: relative;
}

.about-area .about-image::before {
  content: '';
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -30px;
}

.about-area .about-text .section-title {
  margin-bottom: 20px;
}

.about-area .about-text .section-title span::before {
  width: 55px;
}

.about-area .about-text ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.about-area .about-text ul li {
  font-size: 16px;
  margin-bottom: 15px;
  padding-left: 25px;
  position: relative;
}

.about-area .about-text ul li i {
  color: #c8242f;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 2px;
}

.about-area .about-text .about-btn {
  margin-top: 25px;
}

.about-area-two .about-progress {
  background-image: url("../img/progress-bg.jpg");
  background-size: cover;
  background-position: center center;
  padding: 80px 56px;
  position: relative;
}

.about-area-two .about-progress::before {
  content: '';
  position: absolute;
  background-color: #0f3041;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .8;
}

.about-area-two .about-progress h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #ffffff;
  position: relative;
  line-height: 1.4;
}

.about-area-two .about-progress .progress-contant {
  margin-bottom: 30px;
  position: relative;
}

.about-area-two .about-progress .progress-contant h3 {
  font-size: 16px;
  position: relative;
  color: #ffffff;
  margin-bottom: 15px;
}

.about-area-two .about-progress .progress-contant h3 span {
  font-size: 16px;
  position: absolute;
  right: 0;
  color: #ffffff;
}

.about-area-two .about-progress .progress-contant .progress {
  height: 14px;
  border: 2px solid transparent;
  background: #cccccc;
  border-radius: 10px;
}

.about-area-two .about-progress .progress-contant .progress .progress-bar {
  background-color: #ffffff;
}

.about-area-two .about-progress .progress-contant:last-child {
  margin-bottom: 0;
}

.about-area-two .about-text .section-title h2 {
  margin-bottom: 25px;
}

.about-area-two .about-text .section-title h2 span {
  margin-bottom: 0;
}

.about-area-two .about-text .section-title span {
  margin-bottom: 20px;
}

.about-area-two .about-text ul li {
  font-size: 13px;
}

.choose-area.about-page-area .section-title {
  max-width: 750px;
  margin: 0 auto 60px;
}

.choose-area.about-page-area .section-title p {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

/*================================================
Service Area
=================================================*/
.service-area {
  background-color: #f9f9f9;
}

.service-area .section-title {
  text-align: center;
}

.service-area .section-title span::before {
  width: 80px;
  margin: auto;
}

.service-card {
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  margin-bottom: 30px;
}

.service-card a img {
  border-radius: 5px;
}

.service-card .service-text {
  padding: 20px 25px;
}

.service-card .service-text i {
  font-size: 35px;
  color: #c8242f;
  background: #ffffff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 20px #eeeeee;
          box-shadow: 0px 0px 20px #eeeeee;
}

.service-card .service-text h3 a {
  font-size: 22px;
  color: #2d2d2d;
}

.service-card .service-text h3 a span {
  color: #c8242f;
}

.service-card .service-text p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service-card:hover {
  background-color: #0f3041;
}

.service-card:hover i {
  background-color: #c8242f;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.service-card:hover h3 a {
  color: #ffffff;
}

.service-card:hover p {
  color: #b7c1c6;
}

.services-details-content {
  margin-top: 30px;
}

.services-details-content h3 {
  font-size: 22px;
  margin: 0 0 25px;
  font-weight: 600;
}

.services-details-content .blog-list {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.services-details-content .blog-list li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  color: #a8a7a5;
  margin-right: 12px;
}

.services-details-content .blog-list li i {
  color: #c8242f;
  position: relative;
  top: 0;
  font-size: 17px;
  margin-right: 4px;
}

.services-details-content .blog-list li a {
  color: #a8a7a5;
}

.services-details-content p b {
  display: block;
  margin: 25px 0;
}

.services-details-content .blockquote {
  margin: 25px 0;
  background: #fafafa;
  padding: 25px;
}

.services-details-content .blockquote p {
  margin: 0 0 15px;
  font-size: 15px;
}

.services-details-content .how-can-we-help {
  margin-top: 30px;
}

.services-details-content .how-can-we-help .card {
  border: 1px solid #c8242f;
}

.services-details-content .how-can-we-help .card .card-header:first-child {
  border-radius: 0;
}

.services-details-content .how-can-we-help .card .card-header a h5 {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

.services-details-content .how-can-we-help .card .card-header a h5 i {
  float: right;
  font-size: 20px;
}

.services-details-content .faq-accordion {
  max-width: 100%;
  margin-top: 20px;
}

.services-details .comments-area {
  margin-top: 25px;
}

.services-details .comments-area .comments-title {
  margin-bottom: 30px;
  line-height: initial;
  font-size: 22px;
}

.services-details .comments-area ol, .services-details .comments-area ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-details .comments-area .comment-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-details .comments-area .children {
  margin-left: 20px;
}

.services-details .comments-area .comment-body {
  border-bottom: 1px solid #eeeeee;
  padding-left: 65px;
  color: #2d2d2d;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.services-details .comments-area .comment-body .reply {
  margin-top: 15px;
}

.services-details .comments-area .comment-body .reply a {
  border: 1px solid #ded9d9;
  color: #2d2d2d;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 13px;
  font-weight: 600;
}

.services-details .comments-area .comment-body .reply a:hover {
  color: #ffffff;
  background-color: #c8242f;
  border-color: #c8242f;
}

.services-details .comments-area .comment-author {
  font-size: 16px;
  margin-bottom: 0.2em;
  position: relative;
  z-index: 2;
}

.services-details .comments-area .comment-author .avatar {
  height: 50px;
  left: -65px;
  position: absolute;
  width: 50px;
  border-radius: 50%;
}

.services-details .comments-area .comment-author .says {
  display: none;
}

.services-details .comments-area .comment-metadata {
  margin-bottom: .8em;
  color: #6c6c6c;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
}

.services-details .comments-area .comment-metadata a {
  color: #6c6c6c;
}

.services-details .comments-area .comment-metadata a:hover {
  color: #c8242f;
}

.services-details .article-footer {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 20px;
  margin-top: 30px;
}

.services-details .article-footer .article-tags {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  color: #c8242f;
}

.services-details .article-footer .article-tags span {
  display: inline-block;
  color: #c8242f;
  margin-right: 3px;
  position: relative;
  top: 3px;
  font-size: 20px;
}

.services-details .article-footer .article-tags a {
  display: inline-block;
  color: #6c6c6c;
}

.services-details .article-footer .article-tags a:hover {
  color: #c8242f;
}

.services-details .article-footer .article-share {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.services-details .article-footer .article-share .social {
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  margin-bottom: 0;
}

.services-details .article-footer .article-share .social li {
  display: inline-block;
}

.services-details .article-footer .article-share .social li span {
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.services-details .article-footer .article-share .social li a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 34px;
  border-radius: 50%;
  background-color: #c8242f;
  color: #ffffff;
  border: 1px solid #c8242f;
  text-align: center;
  font-size: 17px;
  margin-left: 2px;
}

.services-details .article-footer .article-share .social li a i {
  position: relative;
  bottom: 2px;
}

.services-details .article-footer .article-share .social li a:hover, .services-details .article-footer .article-share .social li a:focus {
  color: #c8242f;
  background-color: #ffffff;
}

.services-details .article-footer .article-share .social li a.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: #fff;
}

.services-details .article-footer .article-share .social li a.facebook:hover, .services-details .article-footer .article-share .social li a.facebook:focus {
  color: #3b5998;
  background-color: transparent;
}

.services-details .article-footer .article-share .social li a.twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #fff;
}

.services-details .article-footer .article-share .social li a.twitter:hover, .services-details .article-footer .article-share .social li a.twitter:focus {
  color: #1da1f2;
  background-color: transparent;
}

.services-details .article-footer .article-share .social li a.linkedin {
  background-color: #007bb5;
  border-color: #007bb5;
  color: #fff;
}

.services-details .article-footer .article-share .social li a.linkedin:hover, .services-details .article-footer .article-share .social li a.linkedin:focus {
  color: #007bb5;
  background-color: transparent;
}

.services-details .article-footer .article-share .social li a.instagram {
  background-color: #c13584;
  border-color: #c13584;
  color: #ffffff;
}

.services-details .article-footer .article-share .social li a.instagram:hover, .services-details .article-footer .article-share .social li a.instagram:focus {
  color: #c13584;
  background-color: transparent;
}

.services-details .comment-respond {
  margin-top: 30px;
}

.services-details .comment-respond .comment-reply-title {
  margin-bottom: 0;
  font-size: 18px;
}

.services-details .comment-respond .comment-reply-title #cancel-comment-reply-link {
  display: inline-block;
}

.services-details .comment-respond .comment-form {
  overflow: hidden;
}

.services-details .comment-respond .comment-notes {
  margin-bottom: 20px;
  margin-top: 10px;
}

.services-details .comment-respond .comment-notes .required {
  color: red;
}

.services-details .comment-respond .comment-form-comment {
  float: left;
  width: 100%;
}

.services-details .comment-respond label {
  display: none;
}

.services-details .comment-respond input[type="date"], .services-details .comment-respond input[type="time"], .services-details .comment-respond input[type="datetime-local"], .services-details .comment-respond input[type="week"], .services-details .comment-respond input[type="month"], .services-details .comment-respond input[type="text"], .services-details .comment-respond input[type="email"], .services-details .comment-respond input[type="url"], .services-details .comment-respond input[type="password"], .services-details .comment-respond input[type="search"], .services-details .comment-respond input[type="tel"], .services-details .comment-respond input[type="number"], .services-details .comment-respond textarea {
  display: block;
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  padding: 1px 0 0 15px;
  height: 50px;
  outline: 0;
  border-radius: 3px;
  color: #2d2d2d;
  font-size: 14px;
}

.services-details .comment-respond input[type="date"]::-webkit-input-placeholder, .services-details .comment-respond input[type="time"]::-webkit-input-placeholder, .services-details .comment-respond input[type="datetime-local"]::-webkit-input-placeholder, .services-details .comment-respond input[type="week"]::-webkit-input-placeholder, .services-details .comment-respond input[type="month"]::-webkit-input-placeholder, .services-details .comment-respond input[type="text"]::-webkit-input-placeholder, .services-details .comment-respond input[type="email"]::-webkit-input-placeholder, .services-details .comment-respond input[type="url"]::-webkit-input-placeholder, .services-details .comment-respond input[type="password"]::-webkit-input-placeholder, .services-details .comment-respond input[type="search"]::-webkit-input-placeholder, .services-details .comment-respond input[type="tel"]::-webkit-input-placeholder, .services-details .comment-respond input[type="number"]::-webkit-input-placeholder, .services-details .comment-respond textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-details .comment-respond input[type="date"]:-ms-input-placeholder, .services-details .comment-respond input[type="time"]:-ms-input-placeholder, .services-details .comment-respond input[type="datetime-local"]:-ms-input-placeholder, .services-details .comment-respond input[type="week"]:-ms-input-placeholder, .services-details .comment-respond input[type="month"]:-ms-input-placeholder, .services-details .comment-respond input[type="text"]:-ms-input-placeholder, .services-details .comment-respond input[type="email"]:-ms-input-placeholder, .services-details .comment-respond input[type="url"]:-ms-input-placeholder, .services-details .comment-respond input[type="password"]:-ms-input-placeholder, .services-details .comment-respond input[type="search"]:-ms-input-placeholder, .services-details .comment-respond input[type="tel"]:-ms-input-placeholder, .services-details .comment-respond input[type="number"]:-ms-input-placeholder, .services-details .comment-respond textarea:-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-details .comment-respond input[type="date"]::-ms-input-placeholder, .services-details .comment-respond input[type="time"]::-ms-input-placeholder, .services-details .comment-respond input[type="datetime-local"]::-ms-input-placeholder, .services-details .comment-respond input[type="week"]::-ms-input-placeholder, .services-details .comment-respond input[type="month"]::-ms-input-placeholder, .services-details .comment-respond input[type="text"]::-ms-input-placeholder, .services-details .comment-respond input[type="email"]::-ms-input-placeholder, .services-details .comment-respond input[type="url"]::-ms-input-placeholder, .services-details .comment-respond input[type="password"]::-ms-input-placeholder, .services-details .comment-respond input[type="search"]::-ms-input-placeholder, .services-details .comment-respond input[type="tel"]::-ms-input-placeholder, .services-details .comment-respond input[type="number"]::-ms-input-placeholder, .services-details .comment-respond textarea::-ms-input-placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-details .comment-respond input[type="date"]::placeholder, .services-details .comment-respond input[type="time"]::placeholder, .services-details .comment-respond input[type="datetime-local"]::placeholder, .services-details .comment-respond input[type="week"]::placeholder, .services-details .comment-respond input[type="month"]::placeholder, .services-details .comment-respond input[type="text"]::placeholder, .services-details .comment-respond input[type="email"]::placeholder, .services-details .comment-respond input[type="url"]::placeholder, .services-details .comment-respond input[type="password"]::placeholder, .services-details .comment-respond input[type="search"]::placeholder, .services-details .comment-respond input[type="tel"]::placeholder, .services-details .comment-respond input[type="number"]::placeholder, .services-details .comment-respond textarea::placeholder {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-details .comment-respond input[type="date"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="time"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="datetime-local"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="week"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="month"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="text"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="email"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="url"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="password"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="search"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="tel"]:focus::-webkit-input-placeholder, .services-details .comment-respond input[type="number"]:focus::-webkit-input-placeholder, .services-details .comment-respond textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.services-details .comment-respond input[type="date"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="time"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="datetime-local"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="week"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="month"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="text"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="email"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="url"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="password"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="search"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="tel"]:focus:-ms-input-placeholder, .services-details .comment-respond input[type="number"]:focus:-ms-input-placeholder, .services-details .comment-respond textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.services-details .comment-respond input[type="date"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="time"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="datetime-local"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="week"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="month"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="text"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="email"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="url"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="password"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="search"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="tel"]:focus::-ms-input-placeholder, .services-details .comment-respond input[type="number"]:focus::-ms-input-placeholder, .services-details .comment-respond textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.services-details .comment-respond input[type="date"]:focus::placeholder, .services-details .comment-respond input[type="time"]:focus::placeholder, .services-details .comment-respond input[type="datetime-local"]:focus::placeholder, .services-details .comment-respond input[type="week"]:focus::placeholder, .services-details .comment-respond input[type="month"]:focus::placeholder, .services-details .comment-respond input[type="text"]:focus::placeholder, .services-details .comment-respond input[type="email"]:focus::placeholder, .services-details .comment-respond input[type="url"]:focus::placeholder, .services-details .comment-respond input[type="password"]:focus::placeholder, .services-details .comment-respond input[type="search"]:focus::placeholder, .services-details .comment-respond input[type="tel"]:focus::placeholder, .services-details .comment-respond input[type="number"]:focus::placeholder, .services-details .comment-respond textarea:focus::placeholder {
  color: transparent;
}

.services-details .comment-respond textarea {
  height: auto !important;
  padding-top: 15px;
}

.services-details .comment-respond .comment-form-author {
  float: left;
  width: 50%;
  padding-right: 10px;
  margin-bottom: 20px;
}

.services-details .comment-respond .comment-form-email {
  float: left;
  width: 50%;
  padding-left: 12px;
  margin-bottom: 20px;
}

.services-details .comment-respond .comment-form-url {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.services-details .comment-respond .comment-form-cookies-consent {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.services-details .comment-respond .comment-form-cookies-consent input {
  position: absolute;
  left: 0;
  top: 4px;
}

.services-details .comment-respond .comment-form-cookies-consent label {
  display: inline-block;
  margin: 0;
  font-weight: normal;
}

.services-details .comment-respond .form-submit {
  float: left;
  width: 100%;
}

.services-details .comment-respond .form-submit input {
  background: #c8242f;
  border: 1px solid #c8242f;
  color: #fff;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
}

.services-details .comment-respond .form-submit input:focus {
  outline: 0;
}

.services-details .comment-respond .form-submit input:hover, .services-details .comment-respond .form-submit input:focus {
  color: #fff;
  background: #0f3041;
  border: 1px solid #0f3041;
}

.side-bar-box {
  background: #fafafa;
  padding: 25px;
  margin-bottom: 30px;
}

.side-bar-box:last-child {
  margin-bottom: 0;
}

.side-bar-box .title {
  font-size: 22px;
  margin-bottom: 35px;
  position: relative;
}

.side-bar-box .title::before {
  content: '';
  position: absolute;
  background-color: #c8242f;
  width: 75px;
  height: 4px;
  bottom: -15px;
  left: 0;
  border-radius: 3px;
}

.side-bar-box form {
  position: relative;
}

.side-bar-box form .form-control {
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 0;
  height: 45px;
}

.side-bar-box form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
  width: 55px;
  border: none;
  background: #fff;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.side-bar-box ul {
  margin: 0;
  padding: 0;
}

.side-bar-box ul li {
  list-style: none;
}

.side-bar-box ul li a {
  display: inline-block;
  margin-top: 10px;
  color: #000;
  text-transform: capitalize;
  font-size: 15px;
}

.side-bar-box ul li a i {
  margin-right: 3px;
}

.side-bar-box ul li a:hover {
  padding-left: 7px;
  color: #c8242f;
}

.side-bar-box ul li:first-child a {
  margin-top: 0;
}

.side-bar-box.tags-box ul li {
  display: inline-block;
  margin-top: 5px;
}

.side-bar-box.tags-box ul li a {
  border: 1px solid #c8242f;
  padding: 4px 10px;
}

.side-bar-box.tags-box ul li a:hover {
  background: #ffffff;
}

.side-bar-box .recent-post-content {
  padding-left: 110px;
}

.side-bar-box .recent-post-content ul {
  margin: 5px 0 0;
  padding: 0;
}

.side-bar-box .recent-post-content ul li {
  display: inline-block;
  margin-right: 14px;
}

.side-bar-box .recent-post-content ul li a {
  color: #777;
  margin-top: 0;
  font-size: 12px;
}

.side-bar-box .recent-post-content ul li a:hover {
  color: #c8242f;
}

.side-bar-box .recent-post-content h3 {
  margin-top: 0;
  line-height: .5 !important;
}

.side-bar-box .recent-post-content h3 a {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  color: #2d2d2d;
}

.side-bar-box .recent-post-content h3 a:hover {
  color: #c8242f;
}

.side-bar-box .single-recent-post {
  overflow: hidden;
  margin-bottom: 20px;
}

.side-bar-box .single-recent-post .recent-post-img {
  float: left;
  width: 100px;
  position: relative;
  overflow: hidden;
}

/*================================================
Our Service Area
=================================================*/
.our-service-area {
  background-color: #f9f9f9;
}

.our-service-area .section-title {
  text-align: center;
}

.our-service-area .section-title span::before {
  width: 80px;
  margin: auto;
}

.our-service-card {
  text-align: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 35px 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.our-service-card i {
  background-color: #ffffff;
  color: #c8242f;
  font-size: 35px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px #e5e5e5;
          box-shadow: 0px 0px 20px #e5e5e5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.our-service-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.our-service-card h3 span {
  color: #c8242f;
}

.our-service-card p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.our-service-card:hover {
  background-color: #c8242f;
}

.our-service-card:hover i {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.our-service-card:hover h3 {
  color: #ffffff;
}

.our-service-card:hover h3 span {
  color: #ffffff;
}

.our-service-card:hover p {
  color: #ffffff;
}

/*================================================
Choose Area
=================================================*/
.choose-area .choose-text {
  max-width: 555px;
  margin-left: auto;
}

.choose-area .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.choose-area .section-title {
  margin: 0 auto 30px;
}

.choose-area .section-title span::before {
  width: 60px;
}

.choose-img {
  background-image: url("../img/choose-img.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 90%;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
}

.choose-img .video-box .video-btn {
  margin-left: -35px;
}

.video-box {
  position: relative;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
}

.video-box .video-btn {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background-color: #c8242f;
  border-radius: 50%;
  color: #ffffff;
  font-size: 60px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.video-box .video-btn::after, .video-box .video-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #c8242f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.video-box .video-btn i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 35px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}

.video-box .video-btn::before {
  -webkit-animation: ripple 2s linear infinite;
          animation: ripple 2s linear infinite;
}

.video-box .video-btn::after {
  -webkit-animation: ripple 2s linear 1s infinite;
          animation: ripple 2s linear 1s infinite;
}

.video-box .video-btn:hover, .video-box .video-btn:focus {
  background-color: #c8242f;
  color: #ffffff;
}

.video-box .video-btn:hover::after, .video-box .video-btn:hover::before, .video-box .video-btn:focus::after, .video-box .video-btn:focus::before {
  border-color: #c8242f;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

.choose-card {
  padding-left: 100px;
  position: relative;
  margin-bottom: 30px;
}

.choose-card i {
  position: absolute;
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  left: 0;
  top: 0;
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px #eeeeee;
          box-shadow: 0px 0px 20px #eeeeee;
  font-size: 30px;
  color: #c8242f;
}

.choose-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

/*================================================
Fun Facts Area
=================================================*/
.fun-facts-area {
  position: relative;
}

.fun-facts-area .fun-facts-shape .shape2 {
  margin-bottom: 50px;
}

.fun-facts-area .fun-facts-shape.top {
  position: absolute;
  top: -50px;
  left: 90px;
}

.fun-facts-area .fun-facts-shape.bottom {
  position: absolute;
  bottom: 20px;
  right: 90px;
  z-index: -1;
}

.signle-fun-fact {
  text-align: center;
  padding: 40px 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px #eeeeee;
          box-shadow: 0px 0px 20px #eeeeee;
  border-radius: 5px;
  margin-bottom: 30px;
}

.signle-fun-fact i {
  font-size: 60px;
  color: #c8242f;
  margin-bottom: 15px;
}

.signle-fun-fact h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.fun-facts-2 .fun-facts-shape.top {
  top: 40px;
}

/*================================================
Case Study Area
=================================================*/
.case-study-area {
  background-color: #0f3041;
}

.case-study-area .section-title span {
  color: #ffffff;
}

.case-study-area .section-title h2 {
  color: #ffffff;
}

.case-study-area .section-title h2 span {
  color: #c8242f;
}

.case-study-area .testimonials-slider .testimonials-slider-item .img-text {
  bottom: 25px !important;
  background-color: #ffffff !important;
}

.case-study-area .testimonials-slider .testimonials-slider-item .img-text h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.case-study-area .testimonials-slider .testimonials-slider-item .img-text p {
  color: #6c6c6c !important;
  font-size: 13px !important;
}

.case-study-area .testimonials-slider .testimonials-slider-item .img-text a {
  color: #c8242f;
}

.case-study-area .testimonials-slider.owl-theme .owl-nav .owl-prev, .case-study-area .testimonials-slider.owl-theme .owl-nav .owl-next {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.case-study {
  background-color: #f8f8f8;
}

.case-study .section-title span {
  color: #2d2d2d;
}

.case-study .section-title h2 {
  color: #2d2d2d;
}

.case-study .section-title h2 span {
  color: #c8242f;
}

/*================================================
Right Way Area
=================================================*/
.right-way-area {
  position: relative;
}

.right-way-area .fun-facts-shape .shape2 {
  margin-bottom: 50px;
}

.right-way-area .fun-facts-shape.top {
  position: absolute;
  bottom: -70px;
  left: 0px;
}

.video-contant {
  background-image: url("../img/right-way/right-way-img.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.right-way {
  position: relative;
  z-index: 1;
}

.right-way .right-way-text {
  background-color: #c8242f;
  width: 600px;
  margin-bottom: 40px;
  padding: 80px 70px;
  border-radius: 5px;
  opacity: 1;
  position: relative;
}

.right-way .right-way-text .section-title {
  margin: 0 auto 30px;
}

.right-way .right-way-text .section-title h2 {
  font-size: 30px;
  color: #ffffff;
}

.right-way .right-way-text .section-title p {
  color: #f4d3d5;
  font-size: 14px;
}

.right-way .right-way-text .text-sign img {
  margin-bottom: 15px;
}

.right-way .right-way-text .text-sign h3 {
  color: #ffffff;
  font-size: 18px;
}

.right-way .right-way-text .text-sign p {
  color: #f4d3d5;
}

.right-way-two {
  background-image: url("../img/right-way/right-way-bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.right-way-two .video-contant {
  background-image: none;
}

.right-way-two .right-way-text {
  margin-bottom: 0;
}

/*================================================
blog Area
=================================================*/
.blog-area {
  background-color: #f9f9f9;
}

.blog-area .section-title {
  text-align: center;
}

.blog-area .section-title span::before {
  width: 80px;
  margin: auto;
}

.blog-card {
  background-color: #ffffff;
}

.blog-card a img {
  width: 100%;
  border-radius: 5px;
}

.blog-card .blog-card-text {
  padding: 25px 30px;
  margin-bottom: 30px;
}

.blog-card .blog-card-text h3 {
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.blog-card .blog-card-text h3 a {
  color: #2d2d2d;
}

.blog-card .blog-card-text ul {
  padding: 0;
  margin: 0 0 15px;
  list-style-type: none;
}

.blog-card .blog-card-text ul li {
  display: inline-block;
  margin-right: 15px;
  color: #c8242f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-card .blog-card-text ul li i {
  color: #c8242f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-card .blog-card-text p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-card .blog-card-text .read-more {
  color: #c8242f;
}

.blog-card:hover {
  background-color: #c8242f;
}

.blog-card:hover .blog-card-text h3 a {
  color: #ffffff;
}

.blog-card:hover .blog-card-text ul li {
  color: #ffffff;
}

.blog-card:hover .blog-card-text ul li i {
  color: #ffffff;
}

.blog-card:hover p {
  color: #ffffff;
}

.blog-card:hover .read-more {
  color: #ffffff;
}

/*================================================
Testimonials Area
=================================================*/
.testimonials-area .section-title {
  text-align: center;
}

.testimonials-area .section-title span::before {
  width: 80px;
  margin: auto;
}

.testimonials-area .testimonials-slider .testimonials-slider-item {
  position: relative;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .testimonials-img {
  position: relative;
  max-width: 280px;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .testimonials-img img {
  border-radius: 5px;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .testimonials-img .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(black));
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
  background-image: -webkit-linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
  width: 100%;
  height: 80%;
  border-radius: 5px;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .testimonials-img .caption .caption-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .testimonials-img .caption .caption-text h3 {
  font-size: 18px;
  color: #ffffff;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .testimonials-img .caption .caption-text p {
  color: #ffffff;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .testimonials-img .caption.bottom-0 .caption-text {
  top: auto;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  bottom: 0;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .img-text {
  position: absolute;
  background-color: #0f3041;
  border-radius: 5px;
  padding: 30px 35px;
  right: 0;
  bottom: 0;
  max-width: 340px;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .img-text p {
  color: #ffffff;
  font-size: 14px;
}

.testimonials-area .testimonials-slider .testimonials-slider-item .img-text .rating i {
  color: #ffb401;
  font-size: 20px;
}

.testimonials-area .testimonials-slider.owl-theme .owl-nav {
  margin-top: 40px;
}

.testimonials-area .testimonials-slider.owl-theme .owl-nav .owl-prev, .testimonials-area .testimonials-slider.owl-theme .owl-nav .owl-next {
  background: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin: 0 15px;
  -webkit-box-shadow: 1px 2px 20px 0px #cac3c3;
          box-shadow: 1px 2px 20px 0px #cac3c3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.testimonials-area .testimonials-slider.owl-theme .owl-nav .owl-prev:hover, .testimonials-area .testimonials-slider.owl-theme .owl-nav .owl-next:hover {
  background-color: #c8242f;
  color: #ffffff;
}

/*================================================
Attorneey Area
=================================================*/
.attorney-area {
  background-color: #f9f9f9;
}

.attorney-area .section-title {
  text-align: center;
  max-width: 725px;
}

.attorney-area .section-title span::before {
  width: 80px;
  margin: auto;
}

.attorney-card {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.attorney-card a img {
  border-radius: 5px;
}

.attorney-card .attorney-card-text {
  text-align: center;
  padding: 40px 90px;
  border-radius: 5px;
}

.attorney-card .attorney-card-text h3 {
  margin-top: -5px;
}

.attorney-card .attorney-card-text h3 a {
  font-size: 20px;
  color: #2d2d2d;
}

.attorney-card .attorney-card-text h3 a:hover {
  color: #c8242f;
}

.attorney-card .attorney-card-text p {
  color: #c8242f;
  margin-bottom: 5px;
}

.attorney-card .attorney-card-text ul {
  padding: 0;
  margin: 20px 0 0;
  list-style-type: none;
}

.attorney-card .attorney-card-text ul li {
  display: inline-block;
  margin: 3px;
}

.attorney-card .attorney-card-text ul li i {
  color: #c8242f;
  font-size: 20px;
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 20px #dddddd;
          box-shadow: 0px 5px 20px #dddddd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.attorney-card .attorney-card-text ul li i:hover {
  background-color: #c8242f;
  color: #ffffff;
}

.attor-details-item .attor-details-left {
  padding: 0 50px 40px 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #ddd;
          box-shadow: 0px 0px 20px 0px #ddd;
  margin-bottom: 30px;
}

.attor-details-item .attor-details-left .attor-social {
  text-align: center;
  margin-top: -28px;
}

.attor-details-item .attor-details-left .attor-social ul {
  margin: 0;
  padding: 0;
  background-color: #0f3041;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px #ddd;
          box-shadow: 0px 0px 15px 0px #ddd;
  margin-bottom: 25px;
}

.attor-details-item .attor-details-left .attor-social ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}

.attor-details-item .attor-details-left .attor-social ul li a {
  display: block;
  color: #c8242f;
  font-size: 18px;
}

.attor-details-item .attor-details-left .attor-social ul li a:hover {
  color: #ffffff;
}

.attor-details-item .attor-details-left .attor-social-details {
  margin-bottom: 30px;
}

.attor-details-item .attor-details-left .attor-social-details h3 {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.attor-details-item .attor-details-left .attor-social-details ul {
  margin: 0;
  padding: 0;
}

.attor-details-item .attor-details-left .attor-social-details ul li {
  list-style-type: none;
  display: block;
  color: #333333;
  margin-bottom: 13px;
}

.attor-details-item .attor-details-left .attor-social-details ul li i {
  display: inline-block;
  color: #b69d74;
  font-size: 18px;
  margin-right: 5px;
}

.attor-details-item .attor-details-left .attor-social-details ul li a {
  display: inline-block;
  color: #333333;
}

.attor-details-item .attor-details-left .attor-social-details ul li a:hover {
  color: #c8242f;
}

.attor-details-item .attor-details-left .attor-work h3 {
  font-weight: 600;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.attor-details-item .attor-details-left .attor-work .attor-work-left {
  display: inline-block;
}

.attor-details-item .attor-details-left .attor-work .attor-work-left ul {
  margin: 0;
  padding: 0;
}

.attor-details-item .attor-details-left .attor-work .attor-work-left ul li {
  position: relative;
  list-style-type: none;
  display: block;
  color: #333333;
  margin-bottom: 8px;
}

.attor-details-item .attor-details-left .attor-work .attor-work-left ul li:before {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  top: 13px;
  right: -88px;
  background-color: #cccccc;
}

.attor-details-item .attor-details-left .attor-work .attor-work-right {
  display: inline-block;
  margin-left: 115px;
}

.attor-details-item .attor-details-left .attor-work .attor-work-right ul {
  margin: 0;
  padding: 0;
}

.attor-details-item .attor-details-left .attor-work .attor-work-right ul li {
  list-style-type: none;
  display: block;
  color: #333333;
  margin-bottom: 8px;
}

.attor-details-item .attor-prev ul {
  margin: 0;
  padding: 0;
}

.attor-details-item .attor-prev ul li {
  list-style-type: none;
  display: inline-block;
}

.attor-details-item .attor-prev ul li a {
  display: block;
  color: #3f3f3f;
  border: 1px solid #b69d74;
  padding: 10px 20px;
  border-radius: 8px;
}

.attor-details-item .attor-prev ul li a:hover {
  background-color: #c8242f;
  color: #ffffff;
  border: 1px solid #c8242f;
}

.attor-details-item .attor-prev ul li:last-child {
  float: right;
}

.attor-details-item .attor-details-right .attor-details-name {
  margin-bottom: 40px;
}

.attor-details-item .attor-details-right .attor-details-name h2 {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 15px;
}

.attor-details-item .attor-details-right .attor-details-name span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.attor-details-item .attor-details-right .attor-details-name p {
  margin-bottom: 0;
}

.attor-details-item .attor-details-right .attor-details-things {
  margin-bottom: 30px;
}

.attor-details-item .attor-details-right .attor-details-things:last-child {
  margin-bottom: 0;
}

.attor-details-item .attor-details-right .attor-details-things h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.attor-details-item .attor-details-right .attor-details-things p {
  margin-bottom: 20px;
  color: #333333;
}

.attor-details-item .attor-details-right .attor-details-things p:last-child {
  margin-bottom: 0;
}

.attor-details-item .attor-details-right .attor-details-things ul {
  margin: 0;
  padding: 0;
}

.attor-details-item .attor-details-right .attor-details-things ul li {
  list-style-type: none;
  display: block;
  color: #333333;
  margin-bottom: 15px;
}

/*================================================
Contact Area
=================================================*/
.contact-area {
  background-image: url("../img/contact-bg.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.contact-area::before {
  content: '';
  position: absolute;
  background-color: #0f3041;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .6;
}

.contact-area .section-title {
  margin: 0 auto 40px;
}

.contact-area .section-title span {
  color: #ffffff;
}

.contact-area .section-title span::before {
  width: 55px;
}

.contact-area .section-title h2 {
  color: #ffffff;
}

.contact-area .section-title p {
  color: #ffffff;
}

.contact-form .form-group .form-control {
  height: 55px;
  font-size: 14px;
  color: #2d2d2d;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 10px 10px 10px 75px;
  position: relative;
}

.contact-form .form-group textarea.form-control {
  height: auto;
  padding-top: 17px;
}

.contact-form .form-group i {
  position: absolute;
  background-color: #3f5967;
  color: #ffffff;
  top: 0;
  left: 15px;
  width: 50px;
  height: 55px;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.contact-form .form-group .list-unstyled {
  margin: 10px 0 0 0;
}

.contact-form .form-group .list-unstyled li {
  color: #ff9292;
}

.contact-form .default-btn-one {
  border: none;
}

.contact-form .text-danger {
  color: #ff9292 !important;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
}

.contact-card span {
  font-size: 17px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
  color: #ffffff;
  position: relative;
}

.contact-card span::before {
  content: '';
  position: absolute;
  background-color: #c8242f;
  height: 2px;
  width: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-card h3 a {
  font-size: 25px;
  color: #ffffff;
}

.contact-card h3 a:hover {
  color: #c8242f;
}

.contact-card ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-card ul li {
  display: inline-block;
  margin: 3px;
}

.contact-card ul li i {
  color: #c8242f;
  font-size: 20px;
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-card ul li i:hover {
  background-color: #c8242f;
  color: #ffffff;
}

.contact-two {
  background-image: none;
}

.contant-map .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.contant-map iframe {
  width: 100%;
  height: 400px;
  bottom: 0;
  border: none;
}

/*================================================
Partner Area
=================================================*/
.partner-area .section-title {
  text-align: center;
}

.partner-area .section-title span::before {
  width: 55px;
  margin: auto;
}

.partner-area .partner-slider .partner-slider-item a img {
  max-width: 150px;
}

/*================================================
Footer Area
=================================================*/
.footer-area {
  background: #0f3041;
}

.footer-area .footer-widget {
  margin-bottom: 30px;
}

.footer-area .footer-widget .logo {
  margin-bottom: 20px;
}

.footer-area .footer-widget p {
  color: #ffffff;
  padding-right: 70px;
}

.footer-area .footer-widget h3 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 50px;
  padding-bottom: 10px;
  position: relative;
}

.footer-area .footer-widget h3::before {
  content: '';
  position: absolute;
  background: #c8242f;
  width: 55px;
  height: 2px;
  left: 0;
  bottom: 0;
}

.footer-area .footer-widget .footer-text {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-area .footer-widget .footer-text li {
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

.footer-area .footer-widget .footer-text li:last-child {
  margin-bottom: 0;
}

.footer-area .footer-widget .footer-text li a {
  color: #ffffff;
}

.footer-area .footer-widget .footer-text li a i {
  color: #c8242f;
  position: absolute;
  left: 0;
  top: 3px;
}

.footer-area .footer-widget .footer-text li a:hover {
  color: #c8242f;
  padding-left: 5px;
}

.footer-area .footer-widget .info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-area .footer-widget .info-list li {
  padding-left: 50px;
  position: relative;
  margin: 0 0 30px;
  color: #ffffff;
}

.footer-area .footer-widget .info-list li i {
  color: #c8242f;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-area .footer-widget .info-list li i:hover {
  background: #c8242f;
  color: #ffffff;
}

.footer-area .footer-widget .info-list li a {
  color: #ffffff;
}

.footer-area .footer-widget .info-list li a:hover {
  color: #c8242f;
  padding-left: 10px;
}

.footer-area .footer-widget .info-list li span {
  display: block;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-area .footer-socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-area .footer-socials li {
  display: inline-block;
  padding: 0 !important;
  margin: 0 10px 0 0;
}

.footer-area .footer-socials li:last-child {
  margin: 0;
}

.footer-area .footer-socials li a i {
  display: inline-block;
  background: #ffffff;
  color: #2d2d2d;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  position: relative;
  margin-top: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-area .footer-socials li a i:hover {
  background: #c8242f;
  color: #ffffff;
}

/*================================================
footer Bottom Area
=================================================*/
.footer-bottom {
  background: #0f3041;
  border-top: 1px solid #3f5967;
}

.footer-bottom p {
  text-align: center;
  font-size: 15px;
  padding: 40px 0;
  color: #ffffff;
  margin: 0;
}

.footer-bottom p a {
  color: #c8242f;
}

.footer-bottom p a:hover {
  color: #ffffff;
}

/*================================================
Preloader Area
=================================================*/
.preloader {
  position: fixed;
  z-index: 999999;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  right: 0;
}

.preloader .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.preloader .lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 32px solid #c8242f;
  border-color: #c8242f transparent #c8242f transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

/*================================================
Go Top Area
=================================================*/
.go-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 9999;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.go-top.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.go-top i {
  background: #c8242f;
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.go-top i:hover {
  background: #0f3041;
  color: #ffffff;
}

/*================================================
Atorn Banner Area
=================================================*/
.atron-banner-area {
  background-image: url("../img/banner/banner-bg.jpg");
  background-size: cover;
  background-position: center center;
}

.atron-banner-area .banner.contant {
  padding-bottom: 50px;
  padding-top: 175px;
}

.atron-banner-area .banner.contant .banner-img img {
  border: 10px solid #ffffff;
  -webkit-box-shadow: 0px 0px 20px #e5e5e5;
          box-shadow: 0px 0px 20px #e5e5e5;
}

.atron-banner-area .banner.contant .banner-text span {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.atron-banner-area .banner.contant .banner-text h1 {
  font-size: 48px;
  margin-bottom: 15px;
  color: #ffffff;
}

.atron-banner-area .banner.contant .banner-text p {
  color: #ffffff;
}

.atron-banner-area .banner.contant .banner-text .banner-btn {
  margin-top: 30px;
}

/*================================================
Page banner Area
=================================================*/
.page-banner {
  background-size: cover;
  background-position: center center;
  height: 450px;
  text-align: center;
  position: relative;
}

.page-banner.bg-1 {
 
}

.page-banner::before {
  content: '';
  position: absolute;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0)), to(#0f3041));
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #0f3041);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page-banner .page-content {
  padding-top: 120px;
  position: relative;
}

.page-banner .page-content h2 {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 35px;
  margin-bottom: 15px;
}

.page-banner .page-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-banner .page-content ul li {
  display: inline-block;
  font-size: 15px;
  margin-right: 15px;
  text-transform: capitalize;
  color: #ffffff;
}

.page-banner .page-content ul li i {
  top: 2px;
  position: relative;
  left: 5px;
}

.page-banner .page-content ul li:last-child {
  margin-right: 0;
}

.page-banner .page-content ul li a {
  color: #ffffff;
}

.page-banner .page-content ul li a:hover {
  color: #c8242f;
}

.pagination {
  padding: 0;
  display: block;
  margin: 20px 0 0;
  text-align: center;
}

.pagination .page-item {
  display: inline-block;
  margin: 0 3px;
}

.pagination .page-item .page-link {
  color: #c8242f;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.pagination .page-item .page-link:hover {
  background-color: #c8242f;
  color: #ffffff;
  -webkit-box-shadow: 0px 7px 20px 0px #dcdcdc;
          box-shadow: 0px 7px 20px 0px #dcdcdc;
}

.pagination .page-item.active .page-link {
  background-color: #c8242f;
  color: #ffffff;
  -webkit-box-shadow: 0px 7px 20px 0px #dcdcdc;
          box-shadow: 0px 7px 20px 0px #dcdcdc;
}

/*================================================
About Video Area
=================================================*/
.about-video-area {
  background-image: url("../img/about-video-bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.about-video-area .about-video-contant {
  text-align: center;
  padding: 110px 0;
}

/*================================================
Sign In Area
=================================================*/
.sign-in-area .section-title {
  margin: 0 auto 60px;
  text-align: center;
}

.sign-in-area .section-title p {
  max-width: 550px;
  margin: auto;
}

.sign-in-area .sign-in-form {
  max-width: 650px;
  padding: 40px 50px;
  border-radius: 5px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 20px 0px #d8d8d8;
          box-shadow: 0px 0px 20px 0px #d8d8d8;
}

.sign-in-area .sign-in-form .form-group {
  margin-bottom: 25px;
}

.sign-in-area .sign-in-form .form-control {
  height: 55px;
  padding: 6px 20px;
  font-size: 14px;
  background: #fbfbfb;
  border: 1px solid #efefef;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-in-area .sign-in-form .account-decs {
  text-align: center;
  margin-top: 20px;
}

.sign-in-area .sign-in-form .account-decs a {
  color: #c8242f;
  margin-left: 5px;
}

.sign-in-area .sign-in-form .account-decs a:hover {
  color: #2d2d2d;
}

.form-check-input {
  margin-top: 3px;
}

/*================================================
Sign Up Area
=================================================*/
.sign-up-area .section-title {
  margin: 0 auto 60px;
  text-align: center;
}

.sign-up-area .section-title p {
  max-width: 550px;
  margin: auto;
}

.sign-up-area .sign-up-form {
  max-width: 650px;
  padding: 40px 50px;
  border-radius: 5px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 20px 0px #d8d8d8;
          box-shadow: 0px 0px 20px 0px #d8d8d8;
}

.sign-up-area .sign-up-form .form-group {
  margin-bottom: 25px;
}

.sign-up-area .sign-up-form .form-group label a {
  color: #2d2d2d;
}

.sign-up-area .sign-up-form .form-group label a:hover {
  color: #c8242f;
}

.sign-up-area .sign-up-form .form-control {
  height: 55px;
  padding: 6px 20px;
  font-size: 14px;
  background: #fbfbfb;
  border: 1px solid #efefef;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sign-up-area .sign-up-form .account-decs {
  text-align: center;
  margin-top: 20px;
}

.sign-up-area .sign-up-form .account-decs a {
  color: #c8242f;
  margin-left: 5px;
}

.sign-up-area .sign-up-form .account-decs a:hover {
  color: #2d2d2d;
}

/*================================================
Privacy Policy Area
=================================================*/
.privacy-policy .privacy-policy-text h2 {
  font-size: 20px;
  margin-bottom: 13px;
  margin-top: 5px;
}

.privacy-policy .privacy-policy-text p {
  margin-bottom: 15px;
}

.privacy-policy .privacy-policy-text p:last-child {
  margin-bottom: 0;
}

/*================================================
Coming Soon Area
=================================================*/
.coming-soon-area {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.coming-soon-area .coming-soon-contant {
  text-align: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 70px 30px;
}

.coming-soon-area .coming-soon-contant h1 {
  margin-bottom: 20px;
  font-size: 50px;
  margin-top: 0;
}

.coming-soon-area .coming-soon-contant p {
  font-size: 16px;
  max-width: 600px;
  margin: 0px auto 20px auto;
}

.coming-soon-area .coming-soon-contant #timer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.coming-soon-area .coming-soon-contant #timer div {
  display: inline-block;
  color: #2d2d2d;
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 45px;
  font-weight: 700;
}

.coming-soon-area .coming-soon-contant #timer div span {
  display: block;
  text-transform: capitalize;
  margin-top: 0px;
  font-size: 16px;
  font-weight: normal;
}

.coming-soon-area .coming-soon-contant #timer div:last-child {
  margin-right: 0;
}

.coming-soon-area .coming-soon-contant #timer div:last-child::before {
  display: none;
}

.coming-soon-area .coming-soon-contant #timer div:first-child {
  margin-left: 0;
}

.coming-soon-area .coming-soon-contant #timer div::before {
  content: "";
  position: absolute;
  right: -50px;
  top: -10px;
  font-size: 70px;
  color: #ffffff;
}

.coming-soon-area .coming-soon-contant .coming-soon-form {
  position: relative;
}

.coming-soon-area .coming-soon-contant .coming-soon-form .form-control {
  height: 55px;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 70%;
  margin: 0 auto 30px;
}

.coming-soon-area .coming-soon-contant .coming-soon-form .form-btn {
  background: #2d2d2d;
  color: #ffffff;
  padding: 17px 30px;
  border: 0;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 15%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coming-soon-area .coming-soon-contant .coming-soon-form .form-btn:hover {
  background: #c8242f;
  color: #ffffff;
}

.coming-soon-area .coming-soon-contant ul {
  padding: 0;
  margin-bottom: 0;
  margin-top: 15px;
  list-style-type: none;
}

.coming-soon-area .coming-soon-contant ul li {
  display: inline-block;
  margin-right: 5px;
}

.coming-soon-area .coming-soon-contant ul li i {
  background: #2d2d2d;
  color: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coming-soon-area .coming-soon-contant ul li i:hover {
  background: #c8242f;
  color: #ffffff;
}

/*================================================
Error Area
=================================================*/
.error-area {
  height: 100vh;
  top: 0;
  left: 0;
}

.error-area .error {
  text-align: center;
}

.error-area .error .error-image {
  margin-bottom: 20px;
}

.error-area .error h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.error-area .error .error-btn a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 36px;
  font-weight: 600;
  color: #2d2d2d;
}

.error-area .error .error-btn a:hover {
  color: #c8242f;
}

/*================================================
Faq Area
=================================================*/
.faq-accordion {
  margin-left: auto;
  max-width: 700px;
}

.faq-accordion h2 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
}

.faq-accordion h2 span {
  display: inline-block;
  color: #0f3041;
}

.faq-accordion .accordion {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item {
  display: block;
  background: #f5f5ff;
  margin-bottom: 10px;
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-title {
  padding: 12px 40px 10px 20px;
  color: #2d2d2d;
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.faq-accordion .accordion .accordion-title i {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #2d2d2d;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq-accordion .accordion .accordion-title.active i::before {
  color: #c8242f;
}

.faq-accordion .accordion .accordion-content {
  display: none;
  position: relative;
  padding: 15px 20px;
  font-size: 14px;
  border-top: 1px solid #c8242f;
}

.faq-accordion .accordion .accordion-content.show {
  display: block;
}

.faq-area .contact-form {
  background: #eee;
  padding: 80px 80px;
  border-radius: 10px;
  margin-top: 50px;
}

.faq-area .contact-form .section-title {
  margin: 0 0 60px;
}

.faq-area .contact-form .section-title span::before {
  width: 40px;
}

.faq-image {
  text-align: center;
}

.bg-color-f4f5fe {
  background-color: #f4f5fe;
}

.bg-color-f4f5fe .faq-accordion .accordion .accordion-item {
  background: #ffffff;
}

.case-details-item {
  margin-bottom: 30px;
}

.case-details-item h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 30px;
}

.case-details-item p {
  margin-bottom: 0;
  color: #4a4a4a;
}

.case-details-item ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.case-details-item ul li {
  list-style-type: none;
  display: block;
  color: #4a4a4a;
}

.case-details-tab {
  background-color: #0f3041;
}

.case-details-tab .case-details-tab-item h2 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.case-details-tab .case-details-tab-item .nav-pills {
  margin-bottom: 30px;
}

.case-details-tab .case-details-tab-item .nav-pills .nav-link {
  border-radius: 0;
  color: #ffffff;
  border: 1px solid #c8242f;
  width: 150px;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
  padding: 12px 0;
}

.case-details-tab .case-details-tab-item .nav-pills .nav-link.active {
  background-color: #c8242f;
}

.case-details-tab .case-details-tab-item .tab-content h3 {
  line-height: 1.5;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
  color: #ffffff;
}

.case-details-tab .case-details-tab-item .tab-content p {
  color: #c8c6c6;
}

.case-details-tab .case-details-tab-item .case-details-tab-img {
  text-align: center;
  position: relative;
  z-index: 1;
}

.case-details-tab .case-details-tab-item .case-details-tab-img img {
  border: 10px solid #c8242f;
}

/*================================================
Gallery  Area
=================================================*/
.gallery-area .section-title {
  text-align: center;
}

.gallery-area .atorn-gallery {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.gallery-area .atorn-gallery .caption {
  text-align: center;
  position: absolute;
  background: rgba(15, 48, 65, 0.74);
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.gallery-area .atorn-gallery .caption a i {
  color: #c8242f;
  font-size: 30px;
}

.gallery-area .atorn-gallery:hover .caption {
  left: 0;
}
/*# sourceMappingURL=style.css.map */